#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}
.markerHoverModal {
  background: linear-gradient(90deg, rgba(0, 49, 154, 0) -9%, #732aff 10%, #2a67ff 39%, rgba(0, 49, 154, 0));
  border-radius: 2px;
  color: #fff;
  padding: 14px 20px;
  min-width: 100px;
  cursor: pointer;
  .marker_box_title {
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
  }
  :not(:last-child) {
    margin-bottom: 12px;
  }
  div {
    font-size: 16px;
    line-height: 20px;
    color: #aacaff;
    span {
      margin-left: 12px;
      color: #ffffff;
    }
  }
}
