@mixin scrollbar-Y {
  overflow: auto;

  // width: inherit;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, #59b7ea),
      color-stop(0.7, #7ab7f1),
      color-stop(1, #495fed)
    );
    cursor: pointer;
  }
}
// flex-Colum
@mixin flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@mixin flex-col-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

// flex-Row

@mixin flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-row-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-row-evenly {
  display: flex;
  justify-content: space-evenly;
}
