// 通用颜色值

$primaryColor: #409eff;
$successColor: #67c23a;
$WarningColor: #e6a23c;
$dangerColor: #f56c6c;
$infoColor: #909399;

// 通用字体大小、
$defaultSize: 12px;
$middleSize: 14px;
$largeSize: 18px;

// 通用字体颜色
$primaryText: #303133;
$regularText: #606266;
$secondaryText: #909399;
$palceHolderText: #c0c4cc;

// 通用边框颜色

$primaryBorder: #e4e7ed;
